---
import Download from "./Download.astro";
import LogoSvg from "./Svgs/LogoSvg.astro";
---

<footer class="bg-[#23272A] w-screen">

    <section>
        
        <nav>
            Social Media Images Here
        </nav>
    </section>

    <nav>
        <div>
            <h6>Product</h6>

            <p>Download</p>
            <p>Nitro</p>
            <p>Status</p>
            <p>App Directory</p>
            <p>New Mobile Experience</p>
        </div>
        <div>
            <h6>Company</h6>

            <p>About</p>
            <p>Jobs</p>
            <p>Brand</p>
            <p>Newsroom</p>
            <p>Fall Release</p>    
        </div>
        <div>
            <h6>Resources</h6>

            <p>College</p>
            <p>Support</p>
            <p>Safety</p>
            <p>Blog</p>
            <p>Feedback</p>    
            <p>StreamKit</p>
            <p>Creators</p>
            <p>Community</p>
            <p>Developers</p>
            <p>Gaming</p>
            <p>Official 3rd Party Merch</p>
        </div>
        <div>
            <h6>Policies</h6>

            <p>Terms</p>
            <p>Privacy</p>
            <p>Cookie Settings</p>
            <p>Guidelines</p>
            <p>Acknowledgements</p>
            <p>Licenses</p>
            <p>Company Information</p>
        </div>
    </nav>

    <hr style="color:white">

    <footer>
        <LogoSvg color="#FFFFFF" />
        <Download />
    </footer>
</footer>