---
import HeaderLogo from "./Svgs/LogoSvg.astro";
import MenuExit from "./Svgs/CrossSvg.astro";
import MenuImg from "./Svgs/MenuSvg.astro";
import HeaderLink from "./HeaderLink.astro";
import BlueBtn from "./BlueBtn.astro";
---

<header class="bg-[#4B42FF] *:overflow-hidden">
    <div
        class="flex flex-row justify-around items-center m-auto py-5 max-w-[1260px]"
    >
        <span class="">
            <a href="/">
                <HeaderLogo color="#fff" />
            </a>
        </span>

        <nav class="z-20">
            <ul
                class="flex flex-row text-sm transition-transform duration-500 transform max-[982px]:fixed max-[982px]:flex-col max-[982px]:translate-x-full max-[982px]:w-auto max-[982px]:top-0 max-[982px]:right-0 max-[982px]:bottom-0 max-[300px]:left-0 max-[982px]:items-start max-[982px]:rounded-tl-lg max-[982px]:bg-white text-gray-800 min-[982px]:text-white min-[982px]:justify-between"
            >
                <div
                    class="flex justify-around w-80 px-0 py-8 min-[982px]:hidden"
                >
                    <HeaderLogo color="#000" />
                    <button class="menuToggle"> <MenuExit /> </button>
                </div>

                <HeaderLink title="Download" />
                <HeaderLink title="Nitro" />
                <HeaderLink title="Discover" />
                <HeaderLink title="Safety" />
                <HeaderLink title="Support" />
                <HeaderLink title="Blog" />
                <HeaderLink title="Careers" />

                <div
                    class="min-[982px]:hidden absolute bottom-0 self-center my-1 max-[320px]:*:px-20 text-xs"
                >
                    <BlueBtn />
                </div>
            </ul>
        </nav>

        <a
            href="/"
            class="duration-200 hover:no-underline hover:shadow-3xl shadow-black hover:text-indigo-500 max-[982px]:hidden text-nowrap font-ggSansSemiBold bg-white text-gray-900 py-3 px-4 rounded-full text-xs min-[1260px]:mr-0"
        >
            Login
        </a>

        <span class="min-[982px]:hidden">
            <button class="menuToggle">
                <MenuImg />
            </button>
        </span>
    </div>
</header>

<style>
    HeaderLogo {
        width: 124px;
        height: auto;
    }

    nav > ul.visible {
        transform: translateX(0);
    }
</style>

<script>
    const nav = document.querySelector("nav > ul");
    const menuToggles = document.querySelectorAll(".menuToggle");
    let isVisible = false;

    function toggleMenu() {
        if (window.innerWidth < 982) {
            isVisible = !isVisible;
            nav.classList.toggle("visible", isVisible);
        }
    }

    menuToggles.forEach((button) =>
        button.addEventListener("click", toggleMenu),
    );

    // Ocultar el menú en pantallas grandes
    function handleResize() {
        // if it's desktop mode hide hamburguer menu
        if (window.innerWidth >= 982) {
            isVisible = false;
            nav.classList.remove("visible");
        }
    }

    window.addEventListener("resize", handleResize);
    window.addEventListener("load", handleResize);
</script>
