---
import Download from "./Download.astro";
import FeatureSection from "./FeatureSection.astro";
---

<article class="bg-[#f6f6f6] flex flex-col justify-center">
    <FeatureSection
        title="Reliable tech for staying close"
        desc={`Low-latency voice and video feels like you’re in the same room. Wave
        hello over video, watch friends stream their games, or gather up and
        have a drawing session with screen share.`}
        imgSrc="../../public/img6.svg"
        bgColor="#f6f6f6"
        reversed={true}
        column={true}
        font={true}
        textCenter={true}
    />

    <div class="flex justify-center px-40">
        <Download />
    </div>

</article>
